html {
  font-size: 16px;
  font-family: syne, serif;
  font-weight: 700;
}

// 頁面 wrapper
.page-wrapper {
  width: 936px;
  max-width: 100%;
  justify-content: safe center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

//頁面 標題
.page-header {
  text-align: center;
  padding: 3.375rem 1.5rem;

  &__title {
    font-size: clamp(2rem, 52px, 52px);
    margin-bottom: 1rem;

    font-weight: 700;
  }
  &__description {
    font-size: 18px;
    line-height: 27px;
  }
}
